<!DOCTYPE html>
<html>
  <head>
    <title>PyPSA server</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/scenarios.css">
  </head>

  <body id="page-top">

    <header class="bg-primary text-white">
      <div class="container text-center">
        <h1>Compare previously calculated scenarios</h1>
      </div>
    </header>

    <div class="container-fluid">
      <br></br>
    <h3>Summary results</h3>
    <table>
      <tr>
	<th>date and time submitted</th>
	<th>name</th>
	<th>id &amp; link</th>
	<th>system costs [bnEUR/a]</th>
	<th>marginal abatement cost [EUR/tCO2]</th>
	<th>difference to default</th>
      </tr>
      {% for scenario in scenarios %}
      <tr>
	<td>{{ scenario_data[scenario]["datetime"][:19] }}</td>
	<td>{{ scenario_data[scenario]["scenario_name"] }}</td>
	<td>{{ scenario }}</td>
	<td>{{ (scenario_data[scenario]["total_costs"]/1e9)|round(2) }}</td>
	<td>{{ scenario_data[scenario]["co2_shadow"]|round(2) }}</td>
	<td>{{ scenario_data[scenario]["diff"] }}</td>
      </tr>
      {% endfor %}
    </table>
    </div>

      <br></br>
    <h3>Breakdown of yearly system costs</h3>

    <div id="costs_div">
      <svg width="1000" height="400" id="costs_graph"></svg>
    </div>

<script type="text/javascript">

  costs = {{costs | tojson}};
  scenario_data = {{scenario_data | tojson}};
  scenarios = {{scenarios | tojson}};
</script>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="{{ url_for('static', filename='d3-tip.js') }}"></script>
<script src="{{ url_for('static', filename='compare.js') }}"></script>
  </body>
</html>
