<!DOCTYPE html>
<html>
  <head>
    <title>PyPSA server</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/scenarios.css">
  </head>

  <body id="page-top">

    <header class="bg-primary text-white">
      <div class="container text-center">
        <h1>Compare previously calculated scenarios</h1>
      </div>
    </header>

    <div class="container-fluid">
     <p><a href="../">home</a> | <a href="../submit">submit</a> | <a href="../results">results</a></p>
    <h3>Summary results</h3>
    <table>
      <tr>
	<th>date and time submitted</th>
	<th>name</th>
	<th>id &amp; link</th>
	<th>system costs [bnEUR/a]</th>
	<th>marginal abatement cost [EUR/tCO2]</th>
	<th>difference to default</th>
	<th>downloads</th>
      </tr>
      {% for scenario in scenarios %}
      <tr>
	<td>{{ scenario_data[scenario]["datetime"][:19] }}</td>
	<td>{{ scenario_data[scenario]["scenario_name"] }}</td>
	<td><a href="{{ scenario }}">{{ scenario }}</a></td>
	<td>{{ (scenario_data[scenario]["total_costs"]/1e9)|round(2) }}</td>
	<td>{{ scenario_data[scenario]["co2_shadow"]|round(2) }}</td>
	<td>{{ scenario_data[scenario]["diff"] }}</td>
	<td><a href="../static/results/{{scenario}}/{{scenario}}.zip">zip file of all results</a> | <a href="../static/results/{{scenario}}/postnetworks/elec_s_45_lvopt__none_2050.nc">PyPSA network file</a> | <a href="../static/results/{{scenario}}/config.yaml">config.yaml file</a></td>
      </tr>
      {% endfor %}
    </table>
      <br></br>
    <h3>Table of contents</h3>
      <ul>
	<li><a href="#costs">Breakdown of yearly system costs</a></li>
	<li><a href="#maps">Maps</a></li>
	<li><a href="#capacities">Technology capacities</a></li>
	<li><a href="#balances">Energy balances by carrier</a></li>
	<li><a href="#primaries">Primary energy</a></li>
	<li><a href="#finals">Final energy and non-energy</a></li>
	<li><a href="#series">Time series for system operation</a></li>
      </ul>
      <br></br>
    <h3 id="costs">Breakdown of yearly system costs</h3>

    <p>All costs are in 2015 euros, EUR-2015.</p>

    <div id="costs_div">
      <svg width="1000" height="400" id="costs_graph"></svg>
      <svg width="220" height="400" id="costs_graph_legend"></svg>
    </div>

    <h3 id="maps">Maps</h3>

    <p>starting grid | grid reinforcement and other investments | hydrogen network and electrolyser capacity</p>

    {% for scenario in scenarios %}

    <p>{{scenario}} | {{ scenario_data[scenario]["scenario_name"] }}</p>
    <p>
    <img src="../static/results/{{scenario}}/maps/elec_s_45_lvopt__none_2050-today.png" alt="today's grid">
    <img src="../static/results/{{scenario}}/maps/elec_s_45_lvopt__none-costs-all_2050.png" alt="tomorrow's grid">
    <img src="../static/results/{{scenario}}/maps/elec_s_45_lvopt__none-h2_network_2050.png" alt="hydrogen grid">
    </p>
    {% endfor %}

    <h3 id="capacities">Technology capacities</h3>

    <div id="capacities_div">
      <svg width="1000" height="400" id="capacities_graph"></svg>
      <svg width="220" height="400" id="capacities_graph_legend"></svg>
    </div>

    <h3 id="balances">Energy balances by carrier</h3>

    <div id="balances_div">
      {% for balance in balances_selection %}
      <h4>{{balances[balance]["name"]}} supply and demand</h4>
      <svg width="1000" height="400" id="{{balance}}_graph"></svg>
      <svg width="220" height="400" id="{{balance}}_graph_legend"></svg>
    {% endfor %}
    </div>

    <h3 id="primaries">Primary energy</h3>

    <p>Note that primary energy for wind, solar and hydroelectricity
    is accounted for using the direct equivalence method,
    i.e. assuming a 100% correspondence between primary energy and
    electricity generation.</p>

    <div id="primaries_div">
      <svg width="1000" height="400" id="primaries_graph"></svg>
      <svg width="220" height="400" id="primaries_graph_legend"></svg>
    </div>

    <h3 id="finals">Final energy and non-energy</h3>

     <p>Electricity includes electricity demand from electric
     vehicles, newly-electrified industry and heat pumps in individual
     buildings, but excludes electricity demand for water
     electrolysis. Hydrogen includes hydrogen demand for land
     transport, shipping, industry and ammonia production, but
     excludes hydrogen demand for synthesis into hydrocarbons. Liquid
     hydrocarbons include aviation fuel and feedstock for basic
     chemicals production (mostly for plastics).</p>

    <div id="finals_div">
      <svg width="1000" height="400" id="finals_graph"></svg>
      <svg width="220" height="400" id="finals_graph_legend"></svg>
    </div>

    <h3 id="series">Time series for system operation</h3>


    <div class="form-group">
      <label for="scenario_selection">Select scenario to show operational dispatch over a year to meet the demand (can take several seconds to load; series are aggregated over all nodes; energy supply and storage withdrawal is positive, demand and storage charging is negative)</label>
      <select class="form-control" name="tech_scenario" id="scenario_selection">
	{% for scenario in scenarios %}
	<option value="{{ scenario }}">{{scenario }} - {{ scenario_data[scenario]["scenario_name"] }}</option>
	{% endfor %}
      </select>
    </div>

    <div id="series_div">
      {% for balance in balances_selection %}
      <h4>{{balances[balance]["name"]}} supply and demand time series</h4>
      <svg width="1100" height="500" id="{{balance}}_power_graph"></svg>
      <svg width="220" height="400" id="{{balance}}_power_graph_legend"></svg>
      {% endfor %}
    </div>
    </div>

<script type="text/javascript">

  costs = {{costs | tojson}};
  capacities = {{capacities | tojson}};
  balances = {{balances | tojson}};
  balances_selection = {{balances_selection | tojson}};
  primaries = {{primaries | tojson}};
  finals = {{finals | tojson}};
  scenario_data = {{scenario_data | tojson}};
  scenarios = {{scenarios | tojson}};
</script>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="../static/d3-tip.js"></script>
<script src="../static/compare.js"></script>
  </body>
</html>
