<!DOCTYPE html>
<html>
  <head>
    <title>PyPSA server</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="./static/scenarios.css">
  </head>

  <body>
    <h1>PyPSA-Eur-Sec optimisation server</h1>
    <p>This interface allows you to run custom optimisations for a sector-coupled model of the European energy system, <a href="https://github.com/PyPSA/pypsa-eur-sec">PyPSA-Eur-Sec</a>. You can, for example, explore different scenarios to reach net-zero carbon dioxide emissions across electricity, heating, transport and industry.</p>

    <p>The model minimises the costs of the energy system assuming all capacity investments in generation, storage, energy conversion and energy transport can be re-optimised. Energy services (electricity, heating, transport, industrial demand) are provided at today's levels by default, but they can also be altered. Default cost assumptions are taken from forecasts for 2050, mainly from the <a href="https://ens.dk/en/our-services/projections-and-models/technology-data">Danish Energy Agency Technology Data</a>. A weighted average cost of capital of 7% is applied. 45 regions are assumed. A full year of representative weather and load data is used, but sampled n-hourly.</p>

    <h3>Actions</h3>

    <p><a href="submit">Submit a new scenario</a></p>
    <p><a href="results">See previously calculated scenarios</a></p>

    <h3>Only free software and open data</h3>
    <p>The user interface, optimisation model construction, solver and
       post-processing are all built with free software and open data
       only. The code can be downloaded from the GitHub
       repository <a href="https://github.com/PyPSA/pypsa-server">pypsa-server</a>. It
       uses the <a href="https://github.com/PyPSA/PyPSA">Python for
       Power System Analysis (PyPSA)</a> energy optimisation
       framework, open weather data from the European Centre for
       Medium-Range Weather Forecasts
       (ECMWF) <a href="https://cds.climate.copernicus.eu/cdsapp#!/dataset/reanalysis-era5-single-levels">ERA5
       reanalysis dataset</a>,
       the <a href="https://github.com/PyPSA/atlite">atlite
       library</a> for converting weather data to generation profiles,
       and free software for the server infrastructure (GNU/Linux,
      nginx, Flask, gunicorn, Redis). The optimisation problem is
      solved by the high-performance open source solver <a href="https://www.maths.ed.ac.uk/hall/HiGHS/">HiGHS</a>.</p>

    <h3>Limitations</h3>
    <p>There are many limitations to the model. Some infrastructure may not meet with societal acceptance, or may not be feasible to build given supply chain and personnel training limitations. On the modelling side, in this simplified model there are not enough model regions to simulate the energy networks properly, nor enough spatial and temporal resolution to see the full variability of wind, solar and demand. Ideally decades of weather data would be used to sample historical weather patterns, as well as data that takes into account future climate change.</p>
    <h3>Contributors and thanks</h3>
    <p><a href="https://nworbmot.org/">Tom Brown</a> conceived and developed the website.</p>
    <p>We thank all the developers of the other free software on which this website depends.</p>
    <h3>Privacy statement</h3>
    <p>No personal information is stored on the server. There are no cookies.</p>
    <p>Simulation assumptions and results for each job are stored on the server.</p>

  </body>
</html>
